In [1]:
people = {
    "first" : ['Corey', 'Jane', 'John'],
    "last" : ['Schafer', 'Doe', 'Doe'],
    "email" : ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [6]:
df['fullname'] = df['first'] + ' ' + df['last']

In [7]:
df

   first     last                    email       fullname
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@gmail.com       Jane Doe
2   John      Doe        JohnDoe@gmail.com       John Doe

In [9]:
df.drop(columns=['first','last'], inplace=True)

In [10]:
df

                     email       fullname
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@gmail.com       Jane Doe
2        JohnDoe@gmail.com       John Doe

In [15]:
df[['first','last']] = df['fullname'].str.split(' ', expand=True)

In [17]:
df

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe

In [19]:
df.append({'first' : 'Tony'}, ignore_index=True)

C:\Users\datas\AppData\Local\Temp\ipykernel_9740\337897623.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'first' : 'Tony'}, ignore_index=True)

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [23]:
people1 = {
    "first" : ['Tony', 'Steve'],
    "last" : ['Stark', 'Rogers'],
    "email" : ['IronMan@avenge.com', 'Cap@avenge.com']
}

In [24]:
df2 = pd.DataFrame(people1)

In [25]:
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [26]:
df.append(df2, ignore_index=True)

C:\Users\datas\AppData\Local\Temp\ipykernel_9740\2779130218.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df2, ignore_index=True)

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [27]:
df = df.append(df2, ignore_index=True)

C:\Users\datas\AppData\Local\Temp\ipykernel_9740\53319185.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

In [28]:
df

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [29]:
df.drop(index=4, inplace=True)

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [30]:
df.drop(index=df[df['last'] == 'Doe'].index)

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [31]:
df

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers