In [1]:
import pandas as pd

In [2]:
registrations = pd.DataFrame({'reg_id' : [1,2,3,4], 'name' : ['Andrew', 'Bobo', 'Claire', 'David']})
logins = pd.DataFrame({'log_id' : [1,2,3,4], 'name' : ['Xavier', 'Andrew', 'Yolanda', 'Bobo']})

In [3]:
registrations

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

In [4]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [5]:
pd.merge(registrations, logins, how='outer', on='name')

   reg_id     name  log_id
0     1.0   Andrew     2.0
1     2.0     Bobo     4.0
2     3.0   Claire     NaN
3     4.0    David     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0

In [6]:
pd.merge(logins,registrations, how='outer', on='name')

   log_id     name  reg_id
0     1.0   Xavier     NaN
1     2.0   Andrew     1.0
2     3.0  Yolanda     NaN
3     4.0     Bobo     2.0
4     NaN   Claire     3.0
5     NaN    David     4.0

In [15]:
registrations.drop('index',axis=1, inplace=True)

In [26]:
registrations.columns

Index(['reg_name', 'reg_id'], dtype='object')

In [27]:
registrations.columns = ['reg_name', 'reg_id']

In [28]:
registrations

   reg_name  reg_id
0         1       1
1         2       2
2         3       3
3         4       4

In [29]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [30]:
registrations

   reg_name  reg_id
0         1       1
1         2       2
2         3       3
3         4       4

In [22]:
registrations['reg_id'] = registrations['reg_name']
registrations['reg_name'] = registrations['reg_id']

In [24]:
registrations

   reg_name  reg_id
0         1       1
1         2       2
2         3       3
3         4       4