In [2]:
import pandas as pd
import numpy as np

In [3]:
people = {
    'people' : ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last' : ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email' : ['CoreyMschafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', 'ChrisSchafer@gmail.com', None, np.nan, 'Anonymous@gmail.com'],
    'age' : ['33', '55', '63', '36', None, None, 'Missing']
}

### Collecting data

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
4    NaN      NaN                     None     None
5   None      NaN                      NaN     None
6     NA  Missing      Anonymous@gmail.com  Missing

### Data Cleaning

In [6]:
df.dropna()

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
6     NA  Missing      Anonymous@gmail.com  Missing

In [7]:
df.dropna(axis='index', how='any')

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
6     NA  Missing      Anonymous@gmail.com  Missing

In [8]:
df.dropna(axis='columns', how='all')

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
4    NaN      NaN                     None     None
5   None      NaN                      NaN     None
6     NA  Missing      Anonymous@gmail.com  Missing

In [9]:
df.dropna(axis='columns', how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [10]:
df.dropna(axis='index', how='any', subset=['email'])

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
6     NA  Missing      Anonymous@gmail.com  Missing

In [11]:
df.dropna(axis='index', how='all', subset=['last','email'])

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
6     NA  Missing      Anonymous@gmail.com  Missing

In [12]:
df.dropna(axis='index', how='all', subset=['last', 'email'])

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
6     NA  Missing      Anonymous@gmail.com  Missing

In [13]:
df = pd.DataFrame(people)

In [14]:
df

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
4    NaN      NaN                     None     None
5   None      NaN                      NaN     None
6     NA  Missing      Anonymous@gmail.com  Missing

In [15]:
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

In [16]:
df

  people     last                    email   age
0  Corey  Schafer  CoreyMschafer@gmail.com    33
1   Jane      Doe        JaneDoe@gmail.com    55
2   John      Doe        JohnDoe@gmail.com    63
3  Chris  Schafer   ChrisSchafer@gmail.com    36
4    NaN      NaN                     None  None
5   None      NaN                      NaN  None
6    NaN      NaN      Anonymous@gmail.com   NaN

In [17]:
df.dropna()

  people     last                    email age
0  Corey  Schafer  CoreyMschafer@gmail.com  33
1   Jane      Doe        JaneDoe@gmail.com  55
2   John      Doe        JohnDoe@gmail.com  63
3  Chris  Schafer   ChrisSchafer@gmail.com  36

In [20]:
df.dropna(axis='index', how='all', subset=['last', 'email'], inplace=True)

In [21]:
df.isna()

   people   last  email    age
0   False  False  False  False
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
6    True   True  False   True

In [22]:
df.fillna('MISSING')

    people     last                    email      age
0    Corey  Schafer  CoreyMschafer@gmail.com       33
1     Jane      Doe        JaneDoe@gmail.com       55
2     John      Doe        JohnDoe@gmail.com       63
3    Chris  Schafer   ChrisSchafer@gmail.com       36
6  MISSING  MISSING      Anonymous@gmail.com  MISSING

In [23]:
df = pd.DataFrame(people)

In [24]:
df

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
4    NaN      NaN                     None     None
5   None      NaN                      NaN     None
6     NA  Missing      Anonymous@gmail.com  Missing

In [25]:
df.fillna(0)

  people     last                    email      age
0  Corey  Schafer  CoreyMschafer@gmail.com       33
1   Jane      Doe        JaneDoe@gmail.com       55
2   John      Doe        JohnDoe@gmail.com       63
3  Chris  Schafer   ChrisSchafer@gmail.com       36
4      0        0                        0        0
5      0        0                        0        0
6     NA  Missing      Anonymous@gmail.com  Missing

In [26]:
df.dtypes

people    object
last      object
email     object
age       object
dtype: object

In [28]:
df['age']

0         33
1         55
2         63
3         36
4       None
5       None
6    Missing
Name: age, dtype: object

In [30]:
type(np.nan)

float

In [31]:
df['age'] = df['age'].astype(float)

ValueError: could not convert string to float: 'Missing'

In [33]:
df['age'].replace('Missing', np.nan, inplace=True)

In [34]:
df

  people     last                    email   age
0  Corey  Schafer  CoreyMschafer@gmail.com    33
1   Jane      Doe        JaneDoe@gmail.com    55
2   John      Doe        JohnDoe@gmail.com    63
3  Chris  Schafer   ChrisSchafer@gmail.com    36
4    NaN      NaN                     None  None
5   None      NaN                      NaN  None
6     NA  Missing      Anonymous@gmail.com   NaN

In [35]:
df['age'] = df['age'].astype(float)

In [36]:
df

  people     last                    email   age
0  Corey  Schafer  CoreyMschafer@gmail.com  33.0
1   Jane      Doe        JaneDoe@gmail.com  55.0
2   John      Doe        JohnDoe@gmail.com  63.0
3  Chris  Schafer   ChrisSchafer@gmail.com  36.0
4    NaN      NaN                     None   NaN
5   None      NaN                      NaN   NaN
6     NA  Missing      Anonymous@gmail.com   NaN

In [37]:
df.dtypes

people     object
last       object
email      object
age       float64
dtype: object

In [38]:
df['age'].mean()

46.75

### Collect bigger data

In [40]:
import pandas as pd

In [46]:
na_vals = ['NA', 'Missing']
df = pd.read_csv('survey_results_public.csv', index_col='Respondent', na_values=na_vals)
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [47]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [48]:
df.head()

,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,CompanyType,YearsProgram,YearsCodedJob,YearsCodedJobPast,DeveloperType,WebDeveloperType,MobileDeveloperType,NonDeveloperType,CareerSatisfaction,JobSatisfaction,ExCoderReturn,ExCoderNotForMe,ExCoderBalance,ExCoder10Years,ExCoderBelonged,ExCoderSkills,ExCoderWillNotCode,ExCoderActive,PronounceGIF,ProblemSolving,BuildingThings,LearningNewTech,BoringDetails,JobSecurity,DiversityImportant,AnnoyingUI,FriendsDevelopers,RightWrongWay,UnderstandComputers,SeriousWork,InvestTimeTools,WorkPayCare,KinshipDevelopers,...,EquipmentSatisfiedStorage,EquipmentSatisfiedRW,InfluenceInternet,InfluenceWorkstation,InfluenceHardware,InfluenceServers,InfluenceTechStack,InfluenceDeptTech,InfluenceVizTools,InfluenceDatabase,InfluenceCloud,InfluenceConsultants,InfluenceRecruitment,InfluenceCommunication,StackOverflowDescribes,StackOverflowSatisfaction,StackOverflowDevices,StackOverflowFoundAnswer,StackOverflowCopiedCode,StackOverflowJobListing,StackOverflowCompanyPage,StackOverflowJobSearch,StackOverflowNewQuestion,StackOverflowAnswer,StackOverflowMetaChat,StackOverflowAdsRelevant,StackOverflowAdsDistracting,StackOverflowModeration,StackOverflowCommunity,StackOverflowHelpful,StackOverflowBetter,StackOverflowWhatDo,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,NaN,2 to 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",Strongly agree,Strongly agree,Agree,Disagree,Strongly agree,Agree,Agree,Disagree,Somewhat agree,Disagree,Strongly agree,Strongly agree,Strongly disagree,Agree,...,Very satisfied,Satisfied,Not very satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have created a CV or Developer Story on Stac...,9.0,Desktop; iOS app,At least once each week,Haven't done at all,Once or twice,Haven't done at all,Haven't done at all,Several times,Several times,Once or twice,Somewhat agree,Strongly disagree,Strongly disagree,Strongly agree,Agree,Strongly agree,Strongly agree,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,"Privately-held limited company, not in startup...",9 to 10 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a hard ""g,"" like ""gift""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Satisfied,Somewhat satisfied,Satisfied,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,No influence at all,I have created a CV or Developer Story on Stac...,8.0,Desktop; iOS browser; iOS app; Android browser...,Several times,Several times,Once or twice,Once or twice,Once or twice,Haven't done at all,Several times,At least once each week,Disagree,Strongly disagree,Strongly disagree,Strongly agree,Agree,Strongly agree,Strongly agree,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",Publicly-traded corporation,20 or more years,20 or more years,NaN,Other,NaN,NaN,NaN,8.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a hard ""g,"" like ""gift""",Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Agree,Strongly agree,Agree,Somewhat agree,Disagree,Disagree,Agree,Somewhat agree,Disagree,Somewhat agree,...,Satisfied,Somewhat satisfied,Very satisfied,A lot of influence,Some influence,Some influence,Some influence,A lot of influence,Some influence,Some influence,Some influence,Some influence,Some influence,Some influence,I have created a CV or Developer Story on Stac...,8.0,Desktop; iOS browser; iOS app,Once or twice,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,Haven't done at all,At least once each day,At least once each day,Disagree,Disagree,Strongly disagree,Strongly agree,Agree,Agree,Agree,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",Non-profit/non-governmental organization or pr...,14 to 15 years,9 to 10 years,NaN,NaN,NaN,NaN,Data scientist,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",Strongly agree,Strongly agree,Strongly agree,Disagree,Somewhat agree,Agree,Agree,Agree,Somewhat agree,Strongly disagree,Strongly agree,Agree,Disagree,Strongly agree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have created a CV or Developer Story on Stac...,10.0,Desktop; iOS browser; iOS app,At least once each week,Several times,At least once each week,Several times,At least once each week,Several times,At least once each day,At least once each day,Agree,Strongly disagree,Strongly disagree,Strongly agree,Strongly agree,Agree,Strongly agree,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,"Privately-held limited company, not in startup...",20 or more years,10 to 11 years,NaN,Mobile developer; Graphics programming; Deskto...,NaN,NaN,NaN,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"With a soft ""g,"" like ""jiff""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Satisfied,Satisfied,Satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df['JobSatisfaction'] = df['JobSatisfaction'].astype(float)

In [54]:
df['JobSatisfaction'].unique()

array([nan,  9.,  3.,  8.,  6.,  7.,  5.,  4., 10.,  2.,  0.,  1.])

In [56]:
df['JobSatisfaction'].astype

<bound method NDFrame.astype of Respondent
1         NaN
2         NaN
3         9.0
4         3.0
5         8.0
         ...
51388     3.0
51389     NaN
51390    10.0
51391     7.0
51392     8.0
Name: JobSatisfaction, Length: 51392, dtype: float64>

In [57]:
df['JobSatisfaction'].mean()

6.957078462452943

In [59]:
df['JobSatisfaction'].median()

7.0