In [1]:
import pandas as pd

In [2]:
registrations = pd.DataFrame({'reg_id' : [1,2,3,4], 'name' : ['Andrew', 'Bobo', 'Claire', 'David']})
logins = pd.DataFrame({'log_id' : [1,2,3,4], 'name' : ['Xavier', 'Andrew', 'Yolanda', 'Bobo']})

In [3]:
pd.merge(registrations, logins, how='inner', on='name')

   reg_id    name  log_id
0       1  Andrew       2
1       2    Bobo       4

In [4]:
pd.merge(registrations, logins, how='left', on='name')

   reg_id    name  log_id
0       1  Andrew     2.0
1       2    Bobo     4.0
2       3  Claire     NaN
3       4   David     NaN

In [5]:
pd.merge(registrations, logins, how='right', on='name')

   reg_id     name  log_id
0     NaN   Xavier       1
1     1.0   Andrew       2
2     NaN  Yolanda       3
3     2.0     Bobo       4